* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    right:0;
    left:0;
    height: 100%;
    min-width: 100%;
}

.h2 {
    padding: 1.2em;


}

.header {

    position: fixed;
    width: 100%;
    background: #232a34;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    height: 80px;
    margin: 0 auto;
    background: #232a34;
}

.nav a {
    text-decoration: none;
    color: rgb(210, 222, 231);
    font-weight: bolder;
    font-family: sans-serif;

}

.nav-menu {

    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 2em;

}

.nav-menu-item {

    line-height: 70px;
    margin: auto 10px;


}

.nav-menu-item a:hover {
    transition: all .2s;
    margin: .1em;
    padding: 5px;
    font-size: 1.2em;
    border: solid gray 1px;
    border-radius: 5px;
    color: #fff;
}

.nav-menu-item a i {
    font-size: 27px;
    margin: 3px;
}

.toogle-init {
    font-size: 30px;
    border: none;
    background: none;
    color: #fff;
    display: none;
}

.search2 {
    width: 50%;
}

.search3 {
    visibility: hidden;

}



.logo {

    width: 20%;

}

.img-logo {

    width: 35%;

}




.hero1 {

    width: 100%;
    height: 480px;
    padding:0;
    display: grid;
    background-image: url("../Sources/bg.jpg");

}

.hero2 {
    width: 100%;
    height: 480px;
    padding:0;
    display: grid;
    background-image: url("../Sources/bg2.jpg");

}





.hero-txt {
    color: #fff;
    padding: 7px;
    margin: 15px;

}

.search-input {

    height: 50px;
    width: 50%;
    border: solid 2px rgb(199, 199, 199);
    border-radius: 10px;
}

.hero-txt i :hover {

    color: #fff;
    font: bolder;
    font-size: 1.5em;
}

.search-button {

    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(0, 195, 255);
}




.download-now {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 5%;
    font-size: 22px;
    display: inline;
    text-align: center;
    text-decoration: none;

}

.download-now :hover {
    color: rgb(206, 206, 206);
    width: 50%;
    border: solid 3px #fff;
    border-radius: 9px;
    font-size: 24px;
    text-transform: uppercase;
    transition: all .1s;
}




.images-content {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    background: rgb(245, 245, 245);


}

.image-container {

    width: 25%;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;

}

.image-container :hover {

    border: solid rgb(207, 206, 206) 3px;
    border-radius: 1em;
    transition: all .2s;
}

.img-cont {

    width: 100%;
    height: 300px;
    padding: 5px;
}

.download-img {

    padding-left: 9.5em;
    color: rgb(0, 255, 255);
    font-size: 1.5em;
}


img :hover {


    border: solid #068fff 20px;

}

.footer-cont {

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items:center;
    height: 220px;
    margin-top: 3em;
    background: #232a34;
    color: #fff;
}

.icon-footer {

    font-size: 1.5em;
}

.footer-item-width {
    padding: 10px;
    width: 33%;
}

.footer-thanks {
    font-size: 2em;
}

.footer-copyright {
    padding: 10px;
    background: #3c4858;
    color: #fff;
}

.content-icon {
    display: flex;
    flex-direction: column;

}

.icon-footer :hover{
    padding:6px;
    border:solid rgb(85, 85, 85) 2px;
    border-radius:3px;
    transition: all .2s;
}

.center {
    text-align: center;
}


.to-top {

    background: #068fff;
    border: thin solid #fff;
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom: 2px;
    z-index: 999999999;

}

.to-top i {
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px 10px 7px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 50px;
    font-size: 40px;

}