* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;

}

h2 {
    padding: 20px;
}


.header {


    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    align-content:space-around;
    background: rgb(243, 241, 241);

}

.navegation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    align-content: center;
    width: 100%;

}

.navegation-ul {

    display: inline-block;
    margin: 5px;
    padding: 6px;
    color: #fff;
    border: solid rgb(0, 255, 234);
    border-radius: 5px;
    text-align: center;
    font-style: oblique;
    background: rgb(4, 189, 245);

}

.navegation a:hover {
    font-weight: bolder;
    font-size: larger;

}

.logo {
    width: 20%;
}

.img-logo {
    width: 40%;
}

.search2 {

    width: 50%;
}

.search3{
    visibility:hidden; 
  

    
}





.search-input {

    height: 50px;
    width: 50%;
    border: solid 2px rgb(199, 199, 199);
    border-radius: 10px;
}

.hero-txt :hover {

    color: #fff;
}

.search-button {

    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(83, 215, 255);
}




.download-now {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 5%;
    display: inline;
    text-align: center;
}

.download-now :hover {
    color: #fff;

}




.images-content {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    background: rgb(245, 245, 245);
    margin-bottom: 40px;
    margin-top: 1em;

}

.image-container {

    width: 25%;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;

}

.image-container :hover {

    border: solid rgb(207, 206, 206) 3px;
    border-radius: 1em;
    transition: all .2s;
}

.img-cont {

    width: 100%;
    height: 270px;
    padding: 10px;

}

.download-img {
    position: relative;
    left: 9.5em;
    bottom: .7em;
    color: rgb(0, 255, 255);
    font-size: 1.5em;
}



img :hover {


    border: solid #068fff 20px;

}

footer {
    margin: 30px;
}

.center {
    text-align: center;
}

.margin-top3em {
    margin-top: 2em;
}

.to-top {

    background: #068fff;
    border: thin solid #fff;
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom: 2px;
    z-index: 999999999;

}

.to-top i {
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px 10px 7px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 50px;
    font-size: 40px;

}